.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFEDE1;

}

.page-footer {
    margin-top: 30px;
}

.custom-rounded-circle {
    height: 200px;
    width: 200px;
}

.event-image {
    max-height: 400px;
    max-width: 400px;
}

footer a {
    color: aliceblue;
    text-decoration: none;

}

footer a:hover {
    color: #FFEDE1;
    text-decoration: none;
}

footer p {
    color: aliceblue;
}

body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    color: #333333;
}

a:hover {
    text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: aliceblue;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFEDE1;
}

.h5-footer {
    color: aliceblue;
}

.month-card {
    background-color: rgba(84, 83, 85, 0.77);
    color: white;
    border-radius: 0px;
}

.events-card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.separator {
    border-left: 1px solid #333;
    margin-left: 50px !important;
    margin-right: 50px !important;
}

#service_img {
    height: 250px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

.content{
    margin-bottom: 200px;
}

.footer {
    background: #ffab62;
    width: 100%;

    bottom: 0;
}

.white-text{
    color: white;
}

@media only screen and (max-width: 600px) {
    .custom-mobile-card {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .custom-mobile-card {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .card-img-top {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}