<!-- Footer -->
<footer class="footer pt-4 bg-dark w-100">

    <!-- Footer Links -->
    <div class="container">

        <!-- Grid row -->
        <div class="row my-auto">

            <!-- Grid column -->
            <div class="col-md-6 mx-auto">

                <!-- Content -->
                <h5 class="h5-footer text-uppercase">FreeLab ltd</h5>
                <p>Via Podgora 12
                    <br>Milano 20132 MI
                    <br>Italia
                    <br>p.iva 123456789101
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="h5-footer text-uppercase">Useful links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://martina-peressini-peresson.herokuapp.com/pages/association.html#contact">Contact
                            form</a>
                    </li>
                    <li>
                        <a href="https://martina-peressini-peresson.herokuapp.com/pages/association.html#faq">FAQ</a>
                    </li>
                    <li>
                        <a href="https://martina-peressini-peresson.herokuapp.com/pages/association.html#partners">Partners</a>
                    </li>
                </ul>

            </div>

            <!-- Grid column -->
            <div class="col-md-3 mx">


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <div class="text-center">
            <a href="https://martina-peressini-peresson.herokuapp.com"> © 2020 Copyright:
                martina-peressini-peresson.herokuapp.com</a>
        </div>
    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->